@charset "utf-8";


/*※文字サイズを「大」にした場合のスタイル
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*文字サイズ変更ボタン
---------------------------------------------------------------------------*/
/*「大」ボタンを押した時の文字サイズ*/
body {
	font-size: 30px;	/*文字サイズ*/
}
/*「小」ボタン設定*/
#fsize ul li#small a::before {
	background: #ccc;	/*背景色*/
}
/*マウスオン時の「小」ボタン設定*/
#fsize ul li#small a:hover::before {
	background: #33a5d5;	/*背景色*/
}
/*「大」ボタン設定*/
#fsize ul li#large a::before {
	background: #33a5d5;	/*背景色*/
}

/*ヘッダー
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	height: 190px;	/*高さを少し広くする*/
}

/*メインメニュー。２段レイアウトに変更する指定。
---------------------------------------------------------------------------*/
/*メニュー１個あたりの設定*/
#menubar li {
	float: left;	/*左に回り込み*/
	width: 30%;		/*メニュー幅*/
	margin: 0 0.4%;	/*0.4%はメニュー同士の左右間の余白。*/
}
/*メニュー１個あたりの設定*/
#menubar li {
	margin-bottom: 10px;
	line-height: 1.5;
}
#menubar li a {
	border: 1px solid #33a5d5;	/*メニューの境界線がわかりづらくなるので枠線を入れる*/
}
/*メニュー下の吹き出しを非表示にする*/
#menubar li.current a span::after {
	display: none;
}
